*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans';
}
.main-container{
    padding: 2rem 3rem;
    background:url(./photos/futuristic-bg.png) no-repeat center center ;
    color: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo-list-main{
    display: flex;
    gap: 5rem;
    cursor: pointer;
}
.main-group-list{
    list-style-type: none;
    display: flex;
    color: #ffffff;
    gap:3rem;
    align-items: center;
    font-size:larger;
    font-weight: 300;
}
.main-list-item{
    transition: 0.3s;
}
.main-list-item:hover{
    scale: 1.1;
    color: #e85b0f;
}
.Sign-In-main{
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
}
.Sign-up-btn{
    padding: 1rem 2rem;
    text-align: center;
    color: #ffffff;
    background-color: #cd5529;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: 0.4s;
}
.Sign-up-btn:hover{
    border-radius: 20px;
    scale: 1.2;
}
@media screen and (max-width:950px){
    .Logo-list-main{
        gap:2rem;
    }
    .main-group-list{
        gap: 1rem;
        font-size: medium;
    }
    .Sign-In-main{
        display: none;
    }
}
@media screen and (max-width:670px){
    .main-group-list{
        display: none;
    }
}

/* main container-content part */
.main-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15rem;
}
.main-content-1{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-top: 5rem;

}
#head-cont-1{
    font-size: 3.5rem;
    font-weight: 900;
}
#head-para-1{
    margin: 3rem 0rem;
    font-size: 1.2rem;
    color: #c6c8c9;
}
.get-start-btn{
    padding: 1rem 2rem;
    background-color: #cd5529;
    border: 2px solid #cd5529 ;
    color: #ffffff;
    font-size: medium;
    cursor: pointer;
}
.Learn-btn{
    padding: 1rem 2rem;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: medium;
    margin-left: 2rem;
    cursor: pointer;
}
@media screen and (max-width:450px){
    .Learn-btn{
        margin-top: 2rem;
        margin-left: 0rem;
    }
}
.main-content-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
    gap:4rem;
    margin-top: 5rem;
}

#dash{
    margin: 1rem 0rem;
}
#rightArrow{
    margin: 1rem 0rem;
    margin-left: 10rem;
}
.king-cont{
    font-size: 2rem;
    font-family: 600;
}
.playButton{
    transition: 0.3s;
    cursor: pointer;
}
.playButton:hover{
    scale: 1.3;
}

@media screen and (max-width:950px){
    .main-content-2{
        display: none;
    }
}

.dowload-container{
    padding: 5rem 2rem;
}
#dc-p-1{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}
.grid-download{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gdc-1{
    height: 20rem;
    width: 15rem;
    margin: 2rem;
    margin-top: 5rem;
    transition: 0.3s;
    cursor: pointer;
}
.gdc-1:hover{
    scale: 1.2;
}
#gdi-1{
    background:url(./photos/Rectangle\ 18.png) no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    
}
#gdi-2{
    background:url("./photos/image\ 4.png") no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
}
#gdi-3{
    background:url("./photos/image\ 3.png") no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
}
#gdi-4{
    background:url("./photos/Rectangle\ 56.png") no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
}
.g-1{
    display: flex;
    color: #ffffff;
    position: relative;
    top: 75%;
    padding: 10px;
}
.g-btn{
    padding: 5px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #cd5529;
    color: #ffffff;
    border: none;
}
@media screen and (max-width:1200px){
    .grid-download{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
.premimum-game{
    display: flex;
    /* flex-wrap: wrap; */
    padding: 4rem;
}
#premimum-game-img{
    height: 22rem;
    width: 30rem;
}
.premimum-game-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem 4rem;
}
#premimum-game-head{
    font-size: 2.5rem;
    font-weight: 800;
}
#premimum-game-para{
    color: #4e5355;
}
#premimum-game-btn{
    padding: 1rem 2rem;
    background-color: #e85b0f;
    border: none;
    color: #ffffff;
    font-size: large;
    cursor: pointer;
}
#premimum-game-btn-2{
    padding: 1rem 2rem;
    border: 2px solid #cd5529;
    color: #cd5529;
    font-size: large;
    cursor: pointer;
    background-color: #ffffff;
}
@media screen and (max-width:1000px){
    .premimum-game{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
@media screen and (max-width:650px){
    .premimum-game-content{
        margin-top: 2rem;
    }
    #premimum-game-img{
        width:20rem;
    }
    #premimum-game-btn-2{
        margin-top: 1rem;
    }
}

/* Reccommanded Game */
.RG{
    display: flex;
    justify-content: space-between;
    padding: 4rem 1rem;
}
#RG-head{
    font-size: 3rem;
    font-weight: 600;
}
#left-arrow{
    padding: 1rem 0.5rem;
    background-color: #eeb0a7;
    border: none;
}
#right-arrow{
    padding: 1rem 0.5rem;
    background-color: #e85b0f;
    border: none;
}
.RG-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.RG-box{
    height: 15rem;
    width: 30rem;
    margin: 2rem;
    display: flex;
    transition: 0.3s;
}
.RG-box:hover{
    scale: 1.1;
}
@media screen and (max-width:1200px){
    .RG-grid{
        display: flex;
        flex-wrap: wrap;
    }
    .RG-box{
        height: 20rem;
        width: 50rem;
    }
}
.RG-box-cont{
    padding: 1rem;
}
.RG-box-head{
    font-size: 1.3rem;
    font-weight: 900;
}
.RG-box-theme{
    color: #e85b0f;
    margin:1rem 0rem;
}
.RG-box-para{
    color: #4e5355;
}
.RG-box-btn{
    margin-top: 1rem;
    padding: 0.7rem 2rem;
    color: #ffffff;
    background-color: #e85b0f;
    border: none;
    cursor: pointer;
}

.MPG{
    color: #ffffff;
    background-color: #000000;
    padding: 4rem 2rem;

}
.MPG-imges{
    display: flex;
    flex-wrap: wrap;
  
}
.MPG-head{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}


.mpg-cont{
    color: #969594;
    font-weight: 700;
    display: flex;
    margin: 2rem;
}
.mpg-para{
    margin-top: 5rem;
}
.mpg-img-1{
    margin: 1rem;
    margin-left: 2rem;
    transition: 0.3s;
    cursor: pointer;

}
.mpg-img-1:hover{
    scale: 1.1;
}
.mpg-img-2{
    margin: 1rem;
    margin-top: 4rem;
    margin-left: 2rem;
    top: 30%;
    transition: 0.3s;
}
.mpg-img-2:hover{
    scale: 1.1;
}
.mpg-img-3{
    margin: 1rem;
    margin-top: 8rem;
    margin-left: 2rem;
    transition: 0.3s;
    cursor: pointer;
}
.mpg-img-3:hover{
    scale: 1.1;
}
.gamer{
    background: url(./photos/imageedit.png) no-repeat center center ;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 7rem;
}
#gamer-head{
    font-size: 2rem;
    font-weight: 900;
}
#gamer-para{
    color: #d3d3d3;
    margin: 1rem 0rem;
}