*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans';
}
.main-container{
    padding: 2rem 3rem;
    background:url(./photos/futuristic-bg.png) no-repeat center center ;
    color: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo-list-main{
    display: flex;
    gap: 5rem;
    cursor: pointer;
}
.main-group-list{
    list-style-type: none;
    display: flex;
    color: #ffffff;
    gap:3rem;
    align-items: center;
    font-size:larger;
    font-weight: 300;
}
.main-list-item{
    transition: 0.3s;
}
.main-list-item:hover{
    scale: 1.1;
    color: #e85b0f;
}
.Sign-In-main{
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
}
.Sign-up-btn{
    padding: 1rem 2rem;
    text-align: center;
    color: #ffffff;
    background-color: #cd5529;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: 0.4s;
}
.Sign-up-btn:hover{
    border-radius: 20px;
    scale: 1.2;
}
@media screen and (max-width:950px){
    .Logo-list-main{
        gap:2rem;
    }
    .main-group-list{
        gap: 1rem;
        font-size: medium;
    }
    .Sign-In-main{
        display: none;
    }
}
@media screen and (max-width:670px){
    .main-group-list{
        display: none;
    }
}

/* main container-content part */
.main-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15rem;
}
.main-content-1{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-top: 5rem;

}
#head-cont-1{
    font-size: 3.5rem;
    font-weight: 900;
}
#head-para-1{
    margin: 3rem 0rem;
    font-size: 1.2rem;
    color: #c6c8c9;
}
.get-start-btn{
    padding: 1rem 2rem;
    background-color: #cd5529;
    border: 2px solid #cd5529 ;
    color: #ffffff;
    font-size: medium;
    cursor: pointer;
}
.Learn-btn{
    padding: 1rem 2rem;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: medium;
    margin-left: 2rem;
    cursor: pointer;
}
@media screen and (max-width:450px){
    .Learn-btn{
        margin-top: 2rem;
        margin-left: 0rem;
    }
}
.main-content-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
    gap:4rem;
    margin-top: 5rem;
}

#dash{
    margin: 1rem 0rem;
}
#rightArrow{
    margin: 1rem 0rem;
    margin-left: 10rem;
}
.king-cont{
    font-size: 2rem;
    font-family: 600;
}
.playButton{
    border: 4px solid rgb(1, 9, 16);
}
@media screen and (max-width:950px){
    .main-content-2{
        display: none;
    }
}

.dowload-container{
    padding: 5rem 2rem;
}
#dc-p-1{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}
.grid-download{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gdc-1{
    height: 20rem;
    width: 15rem;
    margin: 2rem;
    margin-top: 5rem;
}
#gdi-1{
    background:url(./photos/Rectangle\ 18.png) no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    
}
#gdi-2{
    background:url("./photos/image\ 4.png") no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
}
#gdi-3{
    background:url("./photos/image\ 3.png") no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
}
#gdi-4{
    background:url("./photos/Rectangle\ 56.png") no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
}
.g-1{
    display: flex;
    color: #ffffff;
    position: relative;
    top: 75%;
    padding: 10px;
}
.g-btn{
    padding: 5px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #cd5529;
    color: #ffffff;
    border: none;
}
@media screen and (max-width:1200px){
    .grid-download{
        display: flex;
        flex-wrap: wrap;
    }
}